.black-bg, .black-bg h3{
    background: #222; 
    border-radius: 50px; 
    opacity: 0.9;
}

.section-img{
    border: none !important;
    box-shadow: none !important;
    border-radius: 3px;
}

.white-text, section.white-text > section > h2, section.white-text > section > span {
    color: white;
}

@font-face {
    font-family: 'Dosis';
    src: url('../lib/font/Dosis-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../lib/font/Raleway-Light.ttf')  format('truetype');
}

.reveal p{
    text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6
 {
    font-family: 'Dosis', 'Raleway', serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.reveal p, .reveal span, .reveal a, .reveal small, .reveal ul li{
    font-family: 'Raleway', serif;
}

.reveal a.white-links, .reveal .white-links a{
    color: white;
    opacity: 0.5;
    text-decoration: underline;
}